.list-parent {
    height: 100%;
    width: 32%;
    min-width: 250px;
}
.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.225);
    border-radius: 10px;
    overflow: auto;
    box-shadow: 4px 4px 4px rgba(3, 49, 177, 0.118);
}
.section-title {
    font-size: 25px;
    text-align: center;
    color: var(--color-cream);
    font-weight: bolder;
}

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    padding-left: 0;
    height: 100%;
    width: 80%;
    padding: 10%;
    margin: 0;
}