:root {
    --pixel-font-family: "Pixelify Sans", sans-serif;
    --courier-font-family: "Courier New", Courier, monospace;

    --color-cream: #ffffff;
    --color-light-blue: #a5d5fc;
    --font-grey-color: #484747;

    --category-background-blue: #c5e5ff;
    --category-text-blue: #43aafe;

    --category-background-purple: #E3E1FA;
    --category-text-purple: #9c59fa;

    --category-background-bluish-purple: #E3E1FA;
    --category-text-bluish-purple: #43458E;

    --priority-background-orange: #fcd5b5;
    --priority-text-orange: #ff7300;

    --priority-background-red: #ffd8d8;
    --priority-text-red: #fe6464;


}

body {
    font-family: var(--courier-font-family);
}


.main-background {
  background: linear-gradient(135deg, var(--color-light-blue), var(--color-cream));
  height: 100vh; 
  width: 100%; 
  position: relative;
}

.main-container {
    width: 95%;
    /* max-width: 1500px; */
    height: 95%;
    max-height: 1500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(0deg, var(--color-cream), var(--color-light-blue) );
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(58, 58, 58, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.lists-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 75%;
    width: 85%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

}

@media (min-width: 2000px) {
    .main-container {
        height: 90vh;
        width: 60%;
    }
}

@media (max-width: 500px){
    .main-background {
       min-height: fit-content;
       height: 1000px;
    max-height: 3000px;

    }
    .main-container {
        overflow: auto;
        /* height: 1000px;
        max-height: 3000px; */
    }
}

