.overlay-popup {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 53, 126, 0.154);
    z-index: 999; 
  }

  .create-window-main-container {
    display: none; /*flex*/
    flex-direction: column;
    padding: 2%;
    width: 50%;
    max-width: 800px;
    height: 50%;
    max-height: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    background-color: var(--color-cream);
    border-radius: 25px;
    gap: 20px;

    z-index: 1000;
  }

  .task-title-exs-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .pi-times {
    color: #aca8a8;
    font-size: 30px;
  }

  .task-title-input {
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 40px;
    border-bottom: var(--color-light-blue);
    color: var(--font-grey-color);
    font-family: var(--courier-font-family);
  }
  .task-description-input::placeholder, 
  .task-title-input::placeholder {
    color: rgb(183, 183, 184);
    font-family: var(--courier-font-family);
  }

  .task-description-textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    padding-top: 10px;
    color: var(--font-grey-color);
    font-family: var(--courier-font-family);
  }

  .other-info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 80%;
  }

  /* css de la parte de state */

  .task-state-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px
  }

  .task-state-button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    background-color: var(--color-light-blue);
    color: var(--color-cream);
    border: none;
    padding: 0;
  }

  .task-state-button > label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  #stateMenuCheckbox {
    display: none;
  }

  #stateMenuCheckbox:checked ~ .task-state-menu {
    display: block;
  }

  .task-state-text {
    font-family: var(--courier-font-family);
    font-weight: 600;
    font-size: medium;
  }

  .task-state-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-cream);
    border: 1px solid var(--color-light-blue);
    list-style: none;
    display: none; 
    z-index: 1;
    width: 100px;
    border-radius: 8px;
    padding-left: 0;
    margin: 0;
  }

  .task-state-option {
    color: var(--color-light-blue);
    font-weight: 600;
    font-size: small;
    border-bottom: 1px solid var(--color-light-blue);
    padding: 5px;
    font-family: var(--courier-font-family);

  }

  .task-state-option:hover {
    color: var(--color-cream);
    background-color: var(--color-light-blue);
  }

  /* css de categorías */

.task-categories-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.task-category-button {
  position: relative;
  border: none;
  background: none;
  color: var(--font-grey-color);
  font-family: var(--courier-font-family);
}

.task-category-button label{
  font-size: xx-large;
  font-weight: 700;
  color: rgb(173, 173, 173);
  cursor: pointer;
}

.task-category-button label:active{
    transform: scale(1.1);
}

.task-categories-menu {
  position: absolute;
  right: 100%;
  top: -100%;
  background-color: var(--color-cream);
  border: 1px solid rgb(203, 201, 201);
  list-style: none;
  display: none; /*fixed*/
  z-index: 1;
  width: 100px;
  border-radius: 8px;
  padding-left: 0;
  margin: 0;
  font-size: small;
  gap: 5px;
}

#categoriesMenuCheckbox {
  display: none;
}

#categoriesMenuCheckbox:checked ~ .task-categories-menu {
  display: block;
}

.task-categories-option {
  height: 25px;
  color: var(--color-cream);
  font-weight: 600;
  font-size: medium;
  border-radius: 15px;
  margin: 3px;
  text-align: center;
  justify-content: center;
  padding-top: 5px;
}

.task-chosen-categories-container {
  display: flex;
  height: 50px;
  width: 80%;
  background-color: rgba(239, 237, 237, 0.614);
  border-radius: 8px;
}

/* css de prioridad */

.task-priority-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.task-priority-button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: var(--category-background-blue);
  border-radius: 8px;
  color: var(--category-text-blue);
  border: none;
  padding: 0;
}

.task-priority-button > label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#priorityMenuCheckbox {
  display: none;
}

#priorityMenuCheckbox:checked ~ .task-priority-menu {
  display: flex;
}

.task-priority-text {
  font-family: var(--courier-font-family);
  font-weight: 600;
  font-size: medium;
}

.task-priority-menu {
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-cream);
  border: 1px solid rgb(205, 204, 204);
  list-style: none;
  display: none; 
  z-index: 1;
  width: 100%;
  border-radius: 8px;
  padding-left: 0;
  margin: 0;
  padding: 5px;
  gap: 5px;
  justify-content: space-evenly;
}

.task-priority-option {
  font-weight: 600;
  font-size: medium;
  padding: 5px;
  font-family: var(--courier-font-family);
  border-radius: 8px;
}

.task-priority-option:nth-child(1) {
  background-color: var(--category-background-blue);
  color: var(--category-text-blue);
}
.task-priority-option:nth-child(1):hover {
  color: var(--category-background-blue);
  background-color: var(--category-text-blue);
}

.task-priority-option:nth-child(2) {
  background-color: var(--priority-background-orange);
  color: var(--priority-text-orange);
}
.task-priority-option:nth-child(2):hover {
  color: var(--priority-background-orange);
  background-color: var(--priority-text-orange);
}

.task-priority-option:nth-child(3) {
  background-color: var(--priority-background-red);
  color: var(--priority-text-red);
}
.task-priority-option:nth-child(3):hover {
  color: var(--priority-background-red);
  background-color: var(--priority-text-red);
}

/* estilos de calendario */
.task-due-date {
  display: flex;
  flex-direction: column;
}

.p-fluid {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.flex-auto {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.p-button { /* botones con los iconos de calendario y hora*/
  background: var(--color-light-blue);
  border: var(--color-light-blue);
}

/* esto es el borde del input cuando se esta ingresando */
.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
  border-color: var(--color-light-blue);
}

.p-inputtext {
  font-family: var(--courier-font-family);
}

.p-link {
  font-family: var(--courier-font-family);
}

.p-component {
  font-family: var(--courier-font-family);
}
