:root {
    --pixel-font-family: "Pixelify Sans", sans-serif;
    --color-cream: #fafaf7;
    --color-light-blue: #a5d5fc;
    --font-grey-color: #676764;
}

.main-background {
  background: linear-gradient(135deg, var(--color-light-blue), var(--color-cream));
  height: 100vh; 
  width: 100%; 
}

.main-container {
    width: 1500px;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, var(--color-cream), var(--color-light-blue) );
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(58, 58, 58, 0.2);
}

.lists-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 70%;
}